.qa-div {
    border: 1px solid gray;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
}

.input-div {
    display: flex;
    flex-direction: column;
}

.bg-input {
    background-color: rgb(36, 188, 188);
}