.qa-div {
    border: 1px solid gray;
    border-radius: 15px;
    background-color: aliceblue;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    padding: 12px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-div {
    display: flex;
    flex-direction: column;
}

.bg-input {
    background-color: rgb(209, 228, 245);
    margin: 2px;
    padding: 3px;
    border-radius: 5px;
}