.nav-style {
    background-color: #116466;
    font-weight: 700;
}

.nav-text {
    color: rgb(233, 244, 240);
    font-weight: 700;
}

.text-style {
    text-decoration: none;
    margin-left: 5px;
    margin-top: 5px;
    background-color: rgb(95, 175, 177);
    color: white;
    padding: 5px;
    border-radius: 10px;
}